@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'),
       url('./indie-flower-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./indie-flower-v9-latin-regular.woff') format('woff'), /* Modern Browsers */

}
